.searchbar-container {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	font-size: 1rem;
	position: relative;
	text-align: inherit;
	display: flex;
	flex-flow: column;
	.input {
		font-size: 1rem;
		background-color: black;
		border: solid gainsboro;
		color: white;
		padding: 3%;
	}
	.input:focus {
		background-color: rgba(8, 7, 7, 0.884);
		border-color: rgb(26, 26, 143);
	}
}
